*{
    margin:0;
    padding:0;
}
ul li{
    list-style: none;
}
/*导航*/
.navbar{
    box-shadow:0 0 800px #e4393c;
    margin-bottom:-40px;
    padding:20px;
    box-sizing: border-box;
    height:114px;
}
.brand{
    height:75px;
}
.nav .dropdown .dropdown-toggle .title{
    font-size:20px;
    line-height:72px;
    margin:10px;
    font-weight: bolder;
    color:#000;
}
.nav .dropdown .dropdown-toggle a:hover{
    color:#f00;
    cursor: pointer;
}
#nav-js>li:hover .dropdown-menu{
    display: block;
}
.nav .dropdown .dropdown-menu .dr-a{
    font-size:18px;
    line-height:40px;
}
.nav .dropdown .dropdown-menu .dr-a span{
    display: inline-block;
    width:108px;
    font-weight: bolder;
}
.nav .dropdown .dropdown-menu a{
    position: relative;
    color:#000;
}
.nav .dropdown .dropdown-menu .drop-right{
    width:90%;
    height:100%;
    padding-left:3%;
    background: #ddd;
    border-radius: 5px;
    position: absolute;
    top:0;
    left:100%;
    display: none;
}
.nav .dropdown .dropdown-menu .dr-a:hover div.drop-right{
   display: block;
}
.nav .dropdown .dropdown-menu .drop-right li{
   list-style: none;
}
.nav .dropdown .dropdown-menu .drop-right li:hover{
   background-color:#ccc; 
}
.nav .dropdown .dropdown-menu .drop-right li a{
    font-size:16px;
    line-height:20px;
    color:#262626;
}

.input-search{
    width:100%;
    height:48px;
    border-bottom:1px solid #ddd;
}
.navbar-form .form-group .glyphicon-search{
    position: absolute;
    top:20px;
    right:10px;
}
.navbar-default .navbar-right > li > a:hover{
    color:#f00;
}
.navbar-default .navbar-right li p{
    padding-top:26px;
    padding-bottom:15px;
    font-size:16px;
    line-height:20px;
}
/*main*/
#main{
    position: relative;
}
/*.bk{*/
    /*width:100%;*/
    /*height:180px;*/
    /*position: absolute;*/
    /*top:-72px;*/
    /*left:0;*/
    /*background-color:#31b0d5;*/
    /*opacity:0.3;*/

/*}*/
.banner{
    width:62%;
    height:444px;
    margin:80px auto;
    position: relative;
    margin-bottom:-30px;
}
.left-menu{
    width:216px;
    height:384px;
    position: relative;
    z-index:2;
    padding:12px;
    box-sizing: border-box;
    background: #2b333b;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    font-weight:200;
}
.item-a{
    width:107%;
    height:80px;
    line-height:80px;
    font-size:12px;
    cursor:pointer;
    padding-left:12px;
    margin-bottom:-10px;
}
.item-a:hover{
    background:#fff;
}
.hiddenbox{
    width:700px;
    height:444px;
    background:#fff;
    padding-left:20px;
    position: absolute;
    top:0;
    left:216px;
    display: none;
    z-index:9999;
    cursor: auto;
}
.item-a:hover .hiddenbox{
    display: block;
}
.hd-title a{
    display: inline-block;
    color:#262626;
    font-size: 15px;
    height:0;
}
.hiddenbox .hd-desc-ul{
    margin-top:-45px;
    margin-bottom: -52px;
}
.hiddenbox .hd-desc{
    display:inline-block;
    margin-right:10px;
    height:0;
}
.hiddenbox ul.noneli{
    margin-bottom:-40px;
}
.hiddenbox .hd-desc a{
    color:#262626;
    font-size: 14px;
    margin-top:10px;
}
.left-menu .item-a a span{
    display: inline-block;
    width:145px;
    font-size:20px;
    color:#f00;
    font-weight: bold;
}
.left-menu .item-a a i{
    color:rgba(255,0,0,0.5);
    font-size:16px;
    margin-left:10px;
}
.left-menu .item-a a:hover{
    color:#f00;
}
#carousel-example-generic{
    /*width:974px;*/
    width:83%;
    height:384px;
    position: absolute;
    top:0;
    right:-11px;
}
/*<!--middle-five-box    -->*/
.container-fluid a{
    color:#000;
}
.container-fluid a:hover{
    color:#e4393c;
}
.container-fluid .five-box .p{
    margin-top:-25px;
    font-size: 18px;
}
.zz{
    border-radius:10px;
    overflow: hidden;
}
.container-fluid{
    width:1190px;
    margin:0 auto;
    padding:0;
}
.container-fluid .row-1 h3{
    text-align: center;
    margin-left: -50px;
}
.row-2{
    margin-left:-12px;
}
.five-box{
    width:229px;
    height:200px;
    margin-top:5px;
    margin-left: 14px;
    padding:0;
}
.mf{
    border:1px solid #000;
    width:217px;
    height:121px;
    margin-left: 5px !important;
    margin-right: 30px;
    margin-bottom:40px;
}


/*课程内容*/
/*实战推荐*/
.bottombox a{
    color:#000;
}
.bottombox a:hover{
    color:#e4393c;
}
.container{
    width:1190px;
    margin:0 auto;
    display: flex;
}
#shizhan{
    width:100%;
    height:510px;
    margin-left:40px;
}
div.mask-play-right{
    position: relative;
}
.mask-play-right .play-right{
    position: relative;
    top:-15px;
    left:50px;
    margin-top:-64px;
    display: none;
}
div.mask-play-right:hover .play-right{
    display: block;
}
div.mask-play{
    position: relative;
    width:217px;
    height:121px;
    margin-left: -13px;
}
.mask-play .play{
    position: relative;
    top:84px;
    left:73px;
    margin-top:-64px;
}
.mask-play .mask{
    width:217px;
    height:121px;
    background: rgba(0, 0, 0, 0.7);
    position: relative;
    top:-121px;
    right:0;
    display: none;
}

div.mask-play:hover .mask{
    display: block;
}
div.mask-play:hover .intro{
    display: block;
}

.bb-middle{
    margin-right:50px;
}
.row-a{
    height:260px;
    margin-top:5px;
}
.ppv{
    width:45px;
    height:20px;
    border-radius: 8px;
    background: #fff;
    color:#000;
    margin-left: 160px;
    margin-top:15px;
    text-align: center;
}
.intro{
    width:200px;
    height:100px;
    border-radius: 30px;
    background: rgba(200,200,200,1);
    color:#fff;
    padding:12px;
    display: none;
    position: absolute;
    top:-102px;
    left:10px;
    overflow: hidden;
    color:#000;
    font-size:16px;
}
.bb-middle .row-a .p{
    margin-top:15px;
    font-size: 18px;
}
.pagination{
    margin-left:40%;
    margin-top:2%;
}
.bb-left{
    height: 630px;
    box-shadow: 10px 10px 30px #ccc;
    margin-top:20px;
}
.bb-a,
.bb-span{
    color:#222;
    font-size: 18px;
    float: left;
    height: 20px;
    line-height: 20px;
    padding-left: 2px;
    border-left:4px solid #e4393c;
    margin-left: -17px;
    margin-right:25px;
    margin-bottom:5px;
}
.bb-left img{
    margin-top:10px;
}
.bb-left .p{
    margin-top:15px;
    font-size: 16px;
}
.bb-left-case{
    margin-bottom: 45px;
    margin-top:25px;
}
.bb-right{
    height: 630px;
    box-shadow: 10px 10px 30px #ccc;
    margin-top:20px;
    padding-right:0;
}
.bb-right .bb-item{
    margin-top:15px;
    margin-bottom: 40px;
}
.bb-right .bb-item .top3{
    background:#e4393c !important;
}
.bb-right .bb-item .num{
    display: inline-block;
    width: 16px;
    height: 16px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #a6a6a6;
    margin-right: 5px;
}
/*paging*/
#paging {
    overflow: hidden;
    width: 100%;
    margin-top: 24px;
    text-align: center;
}
#paging .first,
#paging .last,
#paging .prev,
#paging .next,
#paging .list li {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 4px;
    padding: 0 10px;
    border: 1px solid #ddd;
    cursor: default;
    border-radius: 4px;
    vertical-align: top;
    cursor:pointer;
    font-size:16px;

}
#paging .list {
    display: inline-block;
    vertical-align: top;
}
#paging .list li {
    width: 40px;
    padding: 0;
    text-align: center;
    cursor:pointer;
}
#paging .list li.cur {
    color: #fff;
    background-color: #f00;
    border-color: #a00;
    cursor: auto;
}

#paging .disable {
    color: #bfbfbf;
    cursor: not-allowed;
}
/*排行榜*/
#tab{
    position: relative;
}
#tab li{
    float: left; list-style: none;
}
ul.tab li a{
    display:inline-block;
}
#content1,#content2{
    width: 160px;
    height: 580px;
    position: absolute;
    top: 40px;
    left: 0;
}
#tab li:first-child,#content1{
    background-color: #fff;
}
#tab li:first-child,#content2{
    background-color: #fff;
}
.row1 h3{
    text-align:center;
}

/*footer*/
#footer{
    margin-top:60px;
    background-color:#eee;
    text-align: center;
    padding-top:20px;
}
#footer .row1{
    margin-bottom:15px;
}

