.glyphicon {
    top: 2px;
}
a {
    color: inherit;
}
a:hover{
    color: #fff;
    text-decoration: none;
}
a:focus {
    color: #f00;
    text-decoration: none;
}
.carousel-inner > .item > a > img {
    height: 384px;
}
hr {
    margin-top: -25px;
}
.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 310px;
    }
}
.row {
    margin-right: -30px;
    margin-left: 32px;
}
.form-control{
    margin-top:10px;
}
.form-group {
    position: relative;
}
@media (min-width: 768px) {
    .form-horizontal .form-group-lg .control-label {
        padding-top: 14.333333px;
    }
}
.dropdown-menu {
    top: 70%;
}
.dropdown-menu > li > a,
.dropdown-menu > li > .dr-a
{
    padding-right:0;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > .dr-a:hover,
.dropdown-menu > li > .dr-a:focus
{
    background-color: #ddd;
    cursor: pointer;
}
.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-top-left-radius: 0;
}
.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-bottom-right-radius: 0;
}
.input-group .form-control:focus {
    z-index: 0;
}
.nav {
    padding-left: 30px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #f00;
}
.navbar {
    position: relative;
    min-height: 100px;
    margin-bottom: 0;
    border: 0 solid transparent;
    padding-left:15px;
    padding-right:15px;
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}
.navbar-collapse {
    margin-top: 10px;
    border-top: 0 solid transparent;
}
.navbar-brand {
    padding:0;
}
.navbar-nav > li > a {
    padding-top: 15px;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 26px;
        font-size:16px;
    }
}
.navbar-form {
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
}
.navbar-form .form-control {
    width: 100%;
}
.navbar-default .navbar-nav > li > a {
    font-size: 20px;
}
.container-fluid .jumbotron {
    padding-right: 0;
    padding-left: 0;
    border-radius: 6px;
}
.list-group-item {
    border: 1px solid #000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.panel-body {
    padding: 0;
}
.modal-header {
    min-height: 16.42857143px;
}
.carousel-control {
    color: #f00;
    background-color: transparent;
}
.carousel-indicators {
    z-index: 1;
}
.carousel-indicators li {
    border: 1px solid #f00;
}
.carousel-indicators .active {
    background-color: #2b333b;
}
@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        margin-top: -15px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -15px;
    }
}