*{
    margin:0;
    padding:0;
}
ul li{
    list-style: none;
}
/*导航*/
.navbar{
    margin-bottom:30px;
    padding:15px;
    box-sizing: border-box;
    height:105px;
}
.brand{
    height:75px;
}
.nav .dropdown .dropdown-toggle .title{
    font-size:20px;
    line-height:72px;
    margin:10px;
    font-weight: bolder;
    color:#fff;
}
.nav .dropdown .dropdown-toggle a:hover{
    color:#f00;
    cursor: pointer;
}
#nav-js>li:hover .dropdown-menu{
    display: block;
}
.nav .dropdown .dropdown-menu .dr-a{
    font-size:18px;
    line-height:40px;
}
.nav .dropdown .dropdown-menu .dr-a span{
    display: inline-block;
    width:108px;
    font-weight: bolder;
}
.nav .dropdown .dropdown-menu a{
    position: relative;
    color:#000;
}
.nav .dropdown .dropdown-menu .drop-right{
    width:90%;
    height:100%;
    padding-left:3%;
    background: #ddd;
    border-radius: 5px;
    position: absolute;
    top:0;
    left:100%;
    display: none;
}
.nav .dropdown .dropdown-menu .dr-a:hover div.drop-right{
   display: block;
}
.nav .dropdown .dropdown-menu .drop-right li{
   list-style: none;
}
.nav .dropdown .dropdown-menu .drop-right li:hover{
   background-color:#ccc; 
}
.nav .dropdown .dropdown-menu .drop-right li a{
    font-size:16px;
    line-height:20px;
    color:#262626;
}

.input-search{
    width:100%;
    height:48px;
    border-bottom:1px solid #ddd;
}
.navbar-form .form-group .glyphicon-search{
    position: absolute;
    top:20px;
    right:10px;
}
.navbar-default .navbar-right > li > a:hover{
    color:#f00;
}
.navbar-default .navbar-right li p{
    padding-top:26px;
    padding-bottom:15px;
    font-size:16px;
    line-height:20px;
}