*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
.container{
    width:1190px;
    margin:60px auto;
    display: flex;
}
img{
    border:0;vertical-align:middle;
}
.clear{
    clear:both;
}
.left-tree span{
    background: url("../imgs/add.png") no-repeat center left;
    padding-left: 14px;
}
.left-tree span.open{
    background: url("../imgs/minus.png") no-repeat center left;
}


.ce{
    display:block;
    width:195px;
    background:rgb(20,20,20);
    /*position:fixed;*/
    z-index:5;
    top:0;
    left:0;
}
.ce li{
    border-bottom: 1px solid rgb(30,30,30);
    border-top: 1px solid rgb(60,60,60);
}

.ce li a{
    padding: 20px 20px 20px 15px;
    color:white;
    display:block;
    cursor:pointer;
}
.ce li a span{
    display: inline-block;
    width:170px;
    font-size:15px;
}
.ce li a .ce-title{
    font-size:17px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.er{
    display:none;
    width:100%;
    background:rgb(70,70,70);
}
.er li{
    width:100%;
    border:solid rgb(110,110,110);
    border-width:1px 0 0;
}
.er li a{
    display:block;
    padding:10px 10px 10px 25px;
    color:white;
    background:none;
    font-size: 16px;
}
.er li a:hover{
    background:#f00;
}
.er .e_li a:hover,.er .e_li .sen_x{
    background:#f00;
}
.thr{
    background:rgb(120,120,120);
    display:none;
}
.thr li{
    margin-bottom:1px;
    border-top: 1px solid rgb(150,150,150);
    position:relative;
}
.er .e_li .thr li a{
    background:none;
    overflow:hidden;
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.er .e_li .thr li a:hover{
    background:#f00;
}
.thr li a{
    display:block;
    padding:10px 10px 10px 35px;
    overflow:hidden;
    background:none;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.for{
     background:rgb(180,180,180);
     display:none;
}
.for li a{
    display:block;
    padding:10px 10px 10px 35px;
    overflow:hidden;
    background:none;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.rightmain{
    width:83%;
    height:500px;
}
.rightmain p.top-title{
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    margin-bottom:50px;
}
/*#rm-main{
    width: 100%;
    position: absolute;
    top: 660px;
    bottom: 0;
    left: 0;
}*/
#rm-main .nav-list{
    margin-top:35px;
    padding-left:240px;
    width:100%;
    margin-left:2%;
}

#rm-main .nav-list li{
    margin-left:15px;
}
#rm-main .nav-list li a{
    color:#000;
    font-size:16px;
}
#rm-main .nav-list li a:hover{
    color:#f00;
}
/*#rm-main .nav-list > li.active > a{
    color:#f00;
}*/
.videobox{
   text-align: center;

}
.passagebox{
    width:100%;
    margin-top: 30px;
}
.passagebox div.pb-title{
    width:90%;
    margin:0 auto;
    margin-top: 30px;
    border-bottom:1px solid #ddd;
}
.passagebox p.pb-title{
    margin:8px;
    font-size:15px;
}
.passagebox .pb-desc{
    width:95%;
    margin:0 auto;
    height:500px;
    margin-top: 30px;
    border:1px solid #000;
}
.bbb{
    margin-left:150px;
}






















