*{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
.container{
    width:1190px;
    margin:-30px auto;
    display: flex;
}
img{
    border:0;vertical-align:middle;
}
.clear{
    clear:both;
}
.ce{
    display:block;
    width:100%;
    background:rgb(50,50,50);
    /*position:fixed;*/
    z-index:5;
    top:0;
    left:0;
}
.ce li{
    border-bottom: 1px solid rgb(40,40,40);
    border-top: 1px solid rgb(90,90,90);
}
.more{
    margin-left: 36px;
}
.ce li a{
    padding: 20px;
    color:white;
    display:block;
    cursor:pointer;
}
.ce li a span{
display: inline-block;
    width:110px;
}
.er{
    display:none;
    width:100%;
    background:rgb(100,100,100);
}
.er li{
    width:100%;
    border:solid rgb(140,140,140);
    border-width:1px 0 0;
}
.er li a{
    display:block;
    padding:10px 10px 10px 20px;
    color:white;
    background:none;
    font-size: 15px;
}
.er li a:hover{
    background:#f00;
}
.er .e_li a:hover,.er .e_li .sen_x{
    background:#f00;
}
.thr{
    background:rgb(150,150,150);
    display:none;
}
.thr li{
    margin-bottom:1px;
    border-top: 1px solid rgb(180,180,180);
    position:relative;
}
.er .e_li .thr li a{
    background:none;
}
.er .e_li .thr li a:hover{
    background:#f00;
}
.rightmain{
    width:83%;
    height:500px;
    border:1px solid #000;
}
























